body, h1, p, ul {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    width:100%;
    position:fixed;
    z-index: 1;
  }
  
  .logo img {
    height: 40px;
    position: relative;
    left: -150px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 40px;
    position: relative;
    left: -225px;
  }

  .nav-links li a:link {
    color: #044435;
    text-decoration: none;
  }

  .nav-links li a:visited {
    color: #50605d;
    text-decoration: none;
  }

  .nav-links li a:hover {
    text-decoration: none;
    color: rgb(144, 224, 144);
  }
  
  

  .nav-links li a:active {
    color: #e1ff00;
    text-decoration: none;
  }
  .text {position:absolute;
  top:10%;
font-family: Arial;}